@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* { 
    box-sizing: border-box;
}

body {
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 

    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mobile-wrapper {
    height: 100%;
    width: 350px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 5px;
    overflow: hidden;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    width: 280px;
    font-family: inherit;
}

header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}

img {
    max-width: 100%;
}

.favourite-wrapper {
    padding: .5rem;
    text-align: center;
    background-color: #e5e2e7;
}

.favourite-meals {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: auto;
}

.favourite-meals li {
    font-size: .6rem;
    width: 100px;
    position: relative;
}

.favourite-meals li img {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 10px 2px #3333331a;
    object-fit: cover;
    width: 75px;
    height: 75px;
}

.favourite-meals li .close-button {
    background-color: transparent;
    border: none;
    opacity: 0;
    font-size: 25px;
    color: rgb(85, 81, 81);
    position: absolute;
    top: 1px;
    left: 65px;
    z-index: 1;
    cursor: pointer;
}
.favourite-meals li:hover .close-button {
    opacity: 1;
}

.favourite-meals li span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75px;
}

.meals-wrapper {
    margin: 1rem;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 5px;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.random {
    position: absolute;
    background-color: #FFFFFF;
    z-index: 2;
    margin: 5px;
    padding: 0.25rem 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.meal-header img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.meal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: #e5e2e7;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: rgb(85, 81, 81);
}